<ion-view title="EducaMT" id="page6">
  <ion-content padding="true" class="has-header">
    <h4 id="educaMTResponsVeis-heading1" style="color:#000000;">{{aluno}}</h4>
    <div class="list card" ng-repeat="item in items">
      <div class="item">
        <div>
          <h2>
             {{item.data | date:'dd/MM/yyyy'}}                         
            <i class="icon icon-relatorio" ng-class="{'ion-checkmark-round verde' :item.status == 1, 'ion-alert laranja' :item.status == 3, 'ion-close vermelho' :item.status == 2}"></i>                        
          </h2>
        </div>
        <p>{{item.observacao}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>