<ion-view title="Alunos" id="page7" ng-controller="alunosCtrl">
  <ion-content padding="true" class="has-header">

      <div class="list card">

          <div class="item item-avatar item-button-right">
              <img src="https://cdn3.iconfinder.com/data/icons/rcons-simple-user/30/user_profile_avatar_account_person-128.png">
              <h2>Marty McFly</h2>
              <button class="button button-positive">
                <i class="icon ion-ios-telephone"></i>
              </button>
          </div>

      </div>

    <button class="button button-full button-positive">
      Enviar Diário
    </button>

  </ion-content>
</ion-view>
