<ion-view title="Alunos" id="page7" ng-controller="alunosCtrl">
  <ion-content padding="true" class="has-header">

      <div class="list card" ng-repeat="aluno in alunos">
          <div id="item-lista-aluno" class="row item item-avatar">
              <img src="https://cdn3.iconfinder.com/data/icons/rcons-simple-user/30/user_profile_avatar_account_person-128.png" />
              <div class="col-20"></div>
              <div class="col-60 col-center">
                  <h2>{{aluno.nome}}</h2>
              </div>
              <div class="col-20 text-right col-center">
                <button class="button button-assertive" ng-click="cadastrarFalta(aluno)">
                  Falta
                </button>
              </div>
          </div>
      </div>

    <button class="button button-full button-positive" ng-click="enviarDiario()">
      Enviar Diário
    </button>

  </ion-content>
</ion-view>
